[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
