@page "/"

<PageTitle>Steam Superheater</PageTitle>

<div class="center">

    <img src="img/logo_vert.png" style="width:100%; max-width:500px" />

    <br />
    <br />
    <br />

    <h4>Fix old and broken Steam games with a couple of clicks</h4>

    <br />

    <div>
        <a style="text-decoration:none" href="https://github.com/fgsfds/Steam-Superheater/releases/latest" target="_blank">
            <h4>Download from GitHub</h4>
        </a>
    </div>

    <div>

        <br />
        <br />

        <a href="https://github.com/fgsfds/Steam-Superheater" target=”_blank”>
            <img style="margin:5px" src="img/github.png" height="100" />
        </a>

        <a href="https://discord.gg/mWvKyxR4et" target=”_blank”>
            <img style="margin:5px" src="img/discord.png" height="100" />
        </a>

    </div>

</div>
