<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!--Path to executable that will be launched by Simple Launcher-->
	<!--If it's in a different folder, that folder will become working directory-->
    <add key="exe" value="..\crispy-hexen.exe"/>
	<!--Command line arguments-->
    <add key="args" value="-file HEXDD.WAD"/>
	<!--If original command line arguments contain this string, they will be discarded-->
    <add key="ignored" value="conf"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
