@page "/about"

<PageTitle>About</PageTitle>

<div class="center">

    <img src="/img/logo_vert.png" style="width:100%; max-width:400px" />

    <br />
    <br />
    <br />

    <h3 class="center" style="font-weight:bolder">What is Superheater?</h3>

    <br />

    <div>
        Steam Superheater is an app which main purpose is to simplify the process of installing various must-have fixes and patches for Steam games.

        The ever-growing list of fixes includes, but not limited to (ultra)widescreen fixes, crash workarounds, unofficial patches, modern source ports for older games, and no intro fixes.

        It's not meant to be an ultimate mod manager, but rather an easy way to fix and improve Steam games that are broken or have troubles running on modern systems out of the box.
    </div>

    <br />

    <img src="/img/dark.png" style="width:100%; max-width:800px" />

    <br />
    <br />

    <h3 class="center" style="font-weight:bolder">How it works?</h3>

    <br />

    <div>
        Superheater features different types of fixes. File fixes replace or delete files in the game folder. Registry fixes add or change registry values. And hosts fixes add entries to Windows' hosts file.

        Installing fixes is done by pressing a single button: no third-party installers or fiddling around with files, folders or registry is necessary. Just press Install and then run the game normally from Steam.

        Same for uninstalling and updating: original files are backed up and restored when the fix is uninstalled.
    </div>

    <br />

    <img src="/img/light.png" style="width:100%; max-width:800px" />

    <br />
    <br />

    <h3 class="center" style="font-weight:bolder">Where fixes come from?</h3>

    <br />

    <div>
        Fixes are hand-picked, verified, and prepared (if needed) by me. Some are downloaded directly from the fix developer's GitHub, some a repacked to support single-button install and put into my storage.

        Superheater also includes fixes editor which allows users who want to help fixes database grow to add and submit their own fixes.

        After review, user-submitted fixes will be added (or not) to the public database.
    </div>

    <br />

    <img src="/img/editor.png" style="width:100%; max-width:800px" />

    <br />
    <br />

    <h3 class="center" style="font-weight:bolder">Is it secure?</h3>

    <br />

    <div>
        Superheater is standalone and doesn't require Steam credentials or any other sensitive information to work.

        Fixes are checked and verified for any malware or unwanted behavior before being added to the database. MD5 hash of the downloaded archives is checked before installing the fix, making it impossible to replace once verified fix with malware.
    </div>

    <br />

    <img src="/img/md5.png" style="width:100%; max-width:800px" />

</div>
